.featured {
  margin: 100px 0;

  .top {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 50px;
    padding-inline: 50px;

    h1 {
      flex: 2;
      text-transform: capitalize;
    }

    p {
      flex: 3;
      color: gray;
    }
  }

  .bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 40px;
    padding-inline: 30px;
  }

  /* small screen */
  @media (max-width: 667px) {
    .top {
      flex-direction: column;
      text-align: center;
    }
  }
}