.container {
  padding: 50px;
  background-color: #eee;

  .top {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 50px;

    .item {
      flex: 1;
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: justify;
      font-size: 14px;
      text-align: center;

      h1 {
        font-size: 18px;
        font-weight: 500;
        color: #555;
      }

      span {
        padding-inline: 25px;
      }

      ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        display: flex;
        flex-direction: column;
        gap: 20px;
        font-size: 18px;

        a {
          text-decoration: none;
          color: black;

          &:hover {
            color: #2d4260;
          }
        }
      }
    }
    .socialIcons {
      text-align: center;
      p {
        margin-bottom: 20px;
        color: #555;
      }
      .icons {
        display: grid;
        grid-template-columns: 1fr 1fr;
        gap: 30px;
        margin: 0 auto;

        a {
          color: #2d4260;
          text-decoration: none;

          svg {
            font-size: 35px;
            transition: all ease 0.3s;
            &:hover {
              transform: scale(1.2);
            }
          }

          &:hover {
            color: #0056b3;
          }
        }
      }
    }
  }

  .bottom {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    .text {
      display: flex;
      align-items: center;
      margin-top: auto;
      padding-bottom: 20px;

      .copyright {
        font-size: 14px;
        color: #222;

        .name {
          color: #2879fe;
          font-weight: bold;
          font-size: 18px;
        }
      }
    }
    .pay {
      text-align: center;
      img {
        height: 50px;
      }
    }
  }

  /* medium screen */
  @media (max-width: 900px) {
    .bottom {
      flex-direction: column;
    }
  }

  /* small screen */
  @media (max-width: 667px) {
    padding-inline: 15px;
    flex-direction: column;

    .top {
      grid-template-columns: auto;
    }

    .bottom {
      .pay {
        width: 90%;
        img {
          width: 100%;
        }
      }
    }
  }
}
